[
    {hecate_app_ragd, [
        {http_path_prefix, <<"/apps/hecate-app-rag">>},
        {event_store_id,   rag_store},
        {data_dir,         "priv/data"},
        {index_dir,        "priv/index"}
    ]},

    {hecate_embed, [
        {default_model_id, <<"intfloat/multilingual-e5-small">>},
        {default_dim, 384}
    ]}
].
